node_modules
.DS_Store
dist
dist-ssr
*.local
.env
*-firebase-adminsdk-*.json
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
cypress/screenshots
cypress/videos
cypress/downloads
project.inlang/cache
